[Unit]
Description=LED Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/chadheise/led-dashboard
ExecStart=/home/chadheise/led-dashboard/system_scripts/start.sh
Restart=on-failure
RestartSec=15
StandardOutput=journal
StandardError=journal
SyslogIdentifier=led-dashboard

[Install]
WantedBy=multi-user.target
