[Unit]
Description=Shutdown button monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/chadheise/led-dashboard/system_scripts/shutdown-button.py
Restart=always

[Install]
WantedBy=multi-user.target
